---
http_interactions:
- request:
    method: post
    uri: https://api.dev.strike.acinq.co/api/v1/charges
    body:
      encoding: UTF-8
      string: '{"amount":"blah","currency":123.45,"description":"1%20Blockaccino","customer_id":"This
        is a random test field"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c2tfb1kzWkJ0N0E2c1F6cmdQMjFDTHdyRmQ4em1wbTQ6
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "code" : 400,
          "message" : "No usable value for amount\nDo not know how to convert JString(blah) into long"
        }
  recorded_at: Wed, 14 Nov 2018 18:56:44 GMT
recorded_with: VCR 3.0.3
