---
http_interactions:
- request:
    method: post
    uri: https://api.dev.strike.acinq.co/api/v1/charges
    body:
      encoding: UTF-8
      string: '{"amount":42000,"currency":"btc","description":"1%20Blockaccino","customer_id":"This
        is a random test field"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Zm9vOg==
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "code" : 401,
          "message" : "authentication failed"
        }
  recorded_at: Wed, 14 Nov 2018 03:42:47 GMT
recorded_with: VCR 3.0.3
